*.js
!**/build/**/*.js
!**/build-tools/*.js
!**/ops-tools/*.js
!jest.config.js
!webpack*.config.js
!babel.config.js
**/bin/*.d.ts
!@types/*.d.ts
*.orig

.yarn/
!.yarn/releases
!.yarn/plugins
.pnp.*

yarn-error.log

# CDK asset staging directory
.cdk.staging
cdk.out
**/.aws-sam/

dist/
**/build/
!build

# Parcel default cache directory
.parcel-cache
.DS_Store

coverage/
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

pids
logs
results
tmp

# Coverage reports
coverage

# API keys and secrets
.env

# Dependency directory
node_modules

# Editors
.idea
*.iml
.vscode

# OS metadata
Thumbs.db

# Ignore built ts files
dist/**/*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Yarn Integrity file
.yarn-integrity

# TypeScript cache
*.tsbuildinfo

# Optional eslint cache
.eslintcache

# synthesis directories
synth
synthbundle-*
