# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the main branch
name: Publish to NPM

on:
  push:
    branches:
      - main

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
env:
  NODE_AUTH_TOKEN: ${{ secrets.NPM_PUBLISHING_TOKEN }}
  NPM_REPO_AUTH_TOKEN: ' '
jobs:
  publish:
    if: startsWith(github.event.head_commit.message, 'chore(release):')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '18.x'
          registry-url: 'https://registry.npmjs.org'
          cache: 'yarn'
      - run: yarn --immutable-cache
      - run: yarn run prerelease
      - run: npm run release
